<!DOCTYPE html>
<html>
<head>
    <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.7.0/adyen.js"
            integrity="sha384-aRaL1/W2ASAwZpEWmiHJJAhcc5h+pwDywrocWjla8oCSJaMlY4MC2hOPvAaOcOCq"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.7.0/adyen.css"
          integrity="sha384-y1lKqffK5z+ENzddmGIfP3bcMRobxkjDt/9lyPAvV9H3JXbJYxCSD6L8TdyRMCGM"
          crossorigin="anonymous">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div id="dropin-container"></div>

</body>
</html>

<script>
let paymentMethodsResponse = <%- JSON.stringify(paymentMethodsResponse) %>;
let originKey = <%- JSON.stringify(originKey) %>;
</script>
<script src="../javascripts/payment.js"></script>
